.page-cards{
    position: relative;
    margin-top: -3em;
    width: 100%;
    display: flex;
    justify-content: center;
    .card{
        position: fixed;
        border: solid 1px black;
        border-radius: 1em;
        width: 15em;
        height: 25em;
        margin: 10em 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        box-shadow: 0 0 15px black;
        .card-text{
            text-align: center;
            margin: auto;
            width: 80%;
        }
        button{
            margin: auto;
            padding: 1em 2em;
        }
    }
    .option-card{
        position: absolute;
        height: 15em;
        width: 35%;
        z-index: 5;
        background-color: white;
    }
    .option-card:nth-child(1){
        top: -2.5em;
        left: 0;
    }
    .option-card:nth-child(2){
        top: -2.5em;
        right: 0;
    }
    .option-card:nth-child(3){
        left: 0;
        top:14em;
    }
    .option-card:nth-child(4){
        right: 0;
        top:14em;
    }
    .swipe-card-in{
        animation-name: swipe-in;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
    }
    
    .swipe-card-out{
        animation-name: swipe-out;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
    }
}


@keyframes swipe-out {
    0%{transform: translateX(0) rotateZ(0); opacity: 1;}
    100%{transform: translateX(-30em) rotateZ(-45deg); opacity: 0;}
}

@keyframes swipe-in {
    0%{
        transform: translateX(30em) rotateZ(45deg); opacity: 0;
    }
    100%{
        transform: translateX(0) rotateZ(0); opacity: 1;
    }
}